<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MassEffectTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MassEffectTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MassEffectTimer.Properties.Settings>
            <setting name="SavedHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedMinutes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SavedSeconds" serializeAs="String">
                <value>30</value>
            </setting>
        </MassEffectTimer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MassEffectTimer.Properties.Settings>
            <setting name="FontFamilyName" serializeAs="String">
                <value>Mass Effect Font</value>
            </setting>
        </MassEffectTimer.Properties.Settings>
    </applicationSettings>
</configuration>